<template>
    <form v-bind:id="id_form" v-bind:action="action" v-bind:method="method">
        <slot></slot>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-right">
                    <a v-if="url_back" v-bind:href="url_back" class="btn btn-outline-secondary"><i class="fa fa-undo"></i>&nbsp;&nbsp;Voltar</a>
                    <button v-if="btn_save" v-on:click="saveForm(id_form)" class="btn btn-success" type="button"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['id_form', 'action', 'method', 'url_back', 'btn_save'],
        methods: {
            saveForm(idForm) {
                $.ajax({
                    url: $('#' + idForm).attr('action'),
                    method: $('#' + idForm).attr('method'),
                    data: $('#' + idForm).serialize(),
                    error: function(err) {
                        if (typeof err == 'string')
                            alert(err);
                        else
                            alert(err.responseJSON.join('\r\n'));
                    },
                    success: function(msg) {
                        alert(msg);
                        window.location = "/";
                    }
                });
            }
        },
        mounted() {
            if (this.btn_save)
                $.each($('#' + this.id_form).prop('elements'), function() {
                    var field = $(this);

                    field.prop('disabled', false);
                });
            else
                $.each($('#' + this.id_form).prop('elements'), function() {
                    var field = $(this);

                    field.prop('disabled', true);
                });
        }
    }
</script>