<template>
    <div class="container">
        <div class="row">
            <div v-bind:class="defineSize">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['size'],
        computed:{
            defineSize: function() {
                if (this.size >= 12)
                    return "col-md-12";

                if (this.size <= 2)
                    return "col-md-2 offset-md-5";

                if ((this.size % 2) == 0)
                    return "col-md-" + this.size + " offset-md-" + ((12 - this.size) / 2);
                else
                    return "col-md-" + (parseInt(this.size) + 1) + " offset-md-" + ((12 - (parseInt(this.size) + 1)) / 2);
            }
        }
    }
</script>
