<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <a v-if="urlcreate" v-bind:href="urlcreate" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</a>
                <div class="form-group pull-left">
                    <input type="search" class="form-control" placeholder="Buscar" v-model="search" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <br />

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th v-for="header in headers">{{ header }}</th>
                <th>Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="row in lists">
                <td v-for="column in row">{{ column }}</td>
                <td>
                    <a v-if="urlshow" v-bind:href="urlshow + '/' + row.id" class="btn btn-outline-secondary btn-sm"><i class="fa fa-eye"></i></a>
                    <a v-if="urlupdate" v-bind:href="urlupdate + '/' + row.id" class="btn btn-outline-secondary btn-sm"><i class="fa fa-pencil"></i></a>
                    <button v-if="urldelete" v-on:click="executeDelete(urldelete + '/' + row.id)" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['headers', 'rows', 'urlshow', 'urlcreate', 'urlupdate', 'urldelete'],
        data: function() {
            return {
                search: ''
            }
        },
        methods: {
            executeDelete: function (url) {
                $.ajax({
                    url: url,
                    method: 'delete',
                    beforeSend: function() {
                        var confirmDelete = confirm('Deseja realmente excluir registro?');

                        if (!confirmDelete)
                            return false;
                    },
                    error: function(err) {
                        if (typeof err == 'string')
                            alert(err);
                        else
                            alert(err.responseText);
                    },
                    success: function(msg) {
                        alert(msg);
                        location.reload();
                    }
                });
            }
        },
        computed: {
            lists: function() {
                if (this.search) {
                    return this.rows.filter(regs => {
                        regs = Object.values(regs);

                        for (let k = 0; k < regs.length; k++) {
                            if((regs[k] + "").toLowerCase().indexOf(this.search.toLowerCase()) >= 0)
                                return true;
                        }

                        return false;
                    });
                }

                return this.rows;
            }
        }
    }
</script>